[2010-09-21 10:44] erikfrerejean opened #1 "Remove core edits by using hooks"
The two core edits can be removed by utilizing the phpBB hook system, the template edit however can't be done through an hook at this moment.

[2010-09-21 14:39] michaelcullum commented on #1
Fixed with 462877306945f6c889f5b73b99c3b448c6854487

[2010-09-21 14:39] #1 closed, assigned to nobody

[2010-10-02 14:27] michaelcullum opened #3 "Issue with Debug"
[phpBB Debug] PHP Notice: in file /includes/hooks/hook_phpbb_blog.php on line 58: Undefined index: blog_title

in UMIL File. The code is:

[code]

[2010-10-02 14:28] michaelcullum opened #4 "Blog ACP Tab"
It shows error:
Parse error: syntax error, unexpected '[', expecting T_PAAMAYIM_NEKUDOTAYIM in D:\xampp\htdocs\quickinstall\boards\phpbb_blog\includes\acp\acp_blog.php on line 87

[2010-10-02 14:29] michaelcullum opened #5 "Blog Link Not Showing in header"
Title says it all

[2010-10-02 14:31] michaelcullum opened #6 "Replace Post Topic and Post Reply Buttons"
With Post Article and Post Comment.

[2010-10-02 14:32] michaelcullum opened #7 "Fix smaller screen resolutions issues."
smaller screens cant fit blog articles and sidebar side-by-side

[2010-10-03 21:13] imkingdavid commented on #3
This code is being run by the hook on every page, including the UMIL file, which is because it is looking for a config setting called 'blog_title', which doesn't exist until AFTER UMIL is run. So the fix would be to put something in the hook file to prevent registering the hook inside UMIL. An example is in my TMM hook file at the bottom.

[2010-10-04 16:07] michaelcullum commented on #3
Yeh, I worked this out. It was just an issue with a line in UMIL, the hook and an syntax error.

[2010-10-18 19:46] michaelcullum commented on #3
Fixed with http://github.com/phpBB-Blog/phpBB-Blog/commit/5af4acea6f86fc2e02fa4756b2da07c0253e4a78

[2010-10-18 19:57] michaelcullum commented on #5
Can't find where. Closing until I test this further

[2010-10-18 19:57] #5 closed, assigned to nobody

[2010-10-20 16:48] michaelcullum opened #8 "Hooks still break UMIL"
hooks still seem to be breaking UMIL.

[2010-10-20 17:01] michaelcullum commented on #8
http://github.com/phpBB-Blog/phpBB-Blog/issues#issue/3

[2010-10-20 17:01] #3 closed, assigned to nobody

[2010-11-13 23:50] michaelcullum commented on #8
fixed

[2010-11-13 23:50] #8 closed, assigned to nobody

[2010-11-13 23:54] michaelcullum opened #10 "Debug with hooks again"
<code>[phpBB Debug] PHP Notice: in file /includes/hooks/index.php on line 141: call_user_func_array() expects parameter 1 to be a valid callback, function 'phpbb_blog' not found or invalid function name
[phpBB Debug] PHP Notice: in file /includes/functions.php on line 4284: Cannot modify header information - headers already sent by (output started at /includes/functions.php:3493)
[phpBB Debug] PHP

[2010-11-14 01:24] erikfrerejean commented on #10
Has nothing to do with that line ;). You register a non-existing function.

[2010-11-14 12:00] michaelcullum commented on #10
I was tired. :P

[2010-11-14 12:00] #10 closed, assigned to nobody

[2010-11-20 18:59] #4 closed, assigned to nobody

[2010-11-20 19:01] michaelcullum opened #12 "PHP Fatal Error when making comment"
It shows error:

<code>Fatal error: Call to undefined method blog::post_comment() in /home/moviefli/rankupforum.com/blog.php on line 593</code>

when you try to submit a comment.

[2010-11-27 14:12] michaelcullum commented on #7
Fixed

[2010-11-27 14:12] #7 closed, assigned to nobody

[2011-01-25 23:17] michaelcullum opened #13 "UMIL BLOG_CATS"
Issue with UMIL Installing the BLOG_CATS Table, only with 3.0.8

<code>SQL ERROR [ mysqli ]
Table 'hippie74_hydrostream.BLOG_CATS_TABLE' doesn't exist [1146]
SQL
SELECT COUNT(cat_id) AS num_cats FROM BLOG_CATS_TABLE
BACKTRACE
FILE: includes/db/mysqli.php
LINE: 163
CALL: dbal->sql_error()
FILE: includes/acp/acp_blog.php
LINE: 284
CALL: dbal_mysqli->sql_query()
FILE: includes/functions_module.php
LI

[2011-12-11 18:59] michaelcullum opened #14 "Reply posted Success"
<code>[phpBB Debug] PHP Notice: in file /blog.php on line 598: Undefined variable: sub

Warning: Cannot modify header information - headers already sent by (output started at C:\xampp\htdocs\modernqi\boards\004blog\includes\functions.php:3765) in C:\xampp\htdocs\modernqi\boards\004blog\includes\functions.php on line 4586

Warning: Cannot modify header information - headers already sent by (output

[2011-12-11 19:00] #13 closed, assigned to nobody

[2011-12-11 19:01] michaelcullum opened #15 "Reply Posted Success message doesn't appear"
The success message to say reply posted doesn't come up. Related to #14

[2011-12-11 20:14] #12 closed, assigned to nobody

[2011-12-11 20:58] michaelcullum opened #16 "When editing a comment"
Fatal error: Call to undefined method blog::get_cmnt_data() in C:\xampp\htdocs\modernqi\boards\004blog\blog.php on line 617

[2011-12-11 20:59] michaelcullum opened #17 "Comment Deleted"
When a comment is deleted it shows an empty blank screen. No errors. But the delete works.

[2011-12-11 21:02] michaelcullum opened #18 "Deleting an article"
Confimation screen is blank white. Probably connected to #17

Probably a language error with the sucessfully deleted text.

[2011-12-11 21:07] michaelcullum commented on #6
Pit-PL has made them. http://www.phpbb.com/community/viewtopic.php?p=12905630&sid=03b8da09158105e1a610f3ca7c442802#p12905630

Will be added to the core soon.

[2011-12-11 21:09] michaelcullum opened #19 "Version Check"
Needs new places for the version check text file and needs a bit of a tidy

[2011-12-11 21:17] michaelcullum opened #20 "Social Networking Integration"
It would have either some buttons on each article page such as like, share, for different social networks including twitter, Google +1 and Facebook.

[2011-12-11 21:19] michaelcullum opened #21 "Tested integration with EXreactions's User Blog MOD"
Proper Tested integration with the user blog Mod.

To start off with so that both can run on the same forum (they both use blog.php which makes this not possible at the moment) but also eventually so they can compliment each others features.

[2011-12-11 21:21] michaelcullum opened #22 "Report Comment Feature"
This is quite and important feature. It is similar to the report post except you report the blog comments. It would either piggyback off the post reports system or (more likely) create its own completely independent report system with its own MCP modules and table.

[2011-12-11 21:21] michaelcullum opened #23 "Permissions Per Blog Category"
This is so that each blog category can have its own editors, people can see some categories but not others, people can post in some categories but not all etc.

[2011-12-11 21:22] michaelcullum opened #24 "Pretty URLs"
Not a major pressing issue but it would be nice to get some SEO friendly URL into the MOD.

[2011-12-11 21:23] michaelcullum opened #25 "Search Box"
Either allowing it to be searched using the forum search or having its own search of the blog.

[2011-12-11 21:24] michaelcullum opened #26 "View all articles by user"
A page where you can view all the articles by 1 user. This would also include some intergration on profiles such as number of articles posted, number comments posted, view all comments by user etc.

Similar to the post count and view all user's post feature for the forums in phpBB.

[2011-12-11 22:18] michaelcullum commented on #17
Found out why, there is no code on what to say after its been deleted. No sucess message although there is a generic sucess and fail in the language file neither are used anywhere. @imkingdavid nubby coding

[2011-12-11 22:19] michaelcullum commented on #18
Found out why, there is no code on what to say after its been deleted. No sucess message although there is a generic sucess and fail in the language file neither are used anywhere. @imkingdavid nubby coding

[2011-12-13 19:32] michaelcullum commented on #6
Post Comment Button is being removed as it doesn't really do much. EDIT: Done in https://github.com/phpBB-Blog/phpBB-Blog/commit/6b8c06158783ed7e9d01a61f42f6f3e962ec7029

[2012-01-03 16:29] michaelcullum commented on #14
Fixed. @imkingdavid thanks

[2012-01-03 16:29] #14 closed, assigned to nobody

[2012-01-03 17:49] dragenx opened #27 "Database error"
Try to installed to mod got a database error also the UMIL files showing to be outdated on the mod. The version my site is running is phpbb 3.0.10 also I had to download the UMIL file which is version 1.0.4 from here http://www.phpbb.com/mods/umil/

I uninstalled the blog till there is a fixs for it

Inserting data in the phpbb_1blog_categories database table.

ERROR: Database table phpbb_1blog_ca

[2012-01-03 17:53] michaelcullum commented on #27
Did you use the umil included in the package or UMIL 1.0.4?

[2012-01-03 18:03] dragenx commented on #27
I try is with the one in the package got the same error so I try it with the 1.0.4 still same error. Went I click on the install file got a box said that the UMIL was out of date

[2012-01-03 18:14] michaelcullum commented on #27
hm... I'm not able to reproduce this (except updating UMIL which I've done locally). I'll be releasing 1.0.0 in a couple of days, if you still get it with that then I'll keep this open, if not I'll close it.

[2012-01-03 18:14] michaelcullum commented on #27
Which page is this error on?

[2012-01-03 18:15] michaelcullum opened #28 "Line breaks"
There is never a line break in the success messages and looks very bunched up.

[2012-01-03 18:19] michaelcullum opened #29 "Comment Submission"
After comment submission it displays this:

[code]

The second "View your comment" being a link. It should be a success message followed by the link.

[2012-01-03 18:21] #15 closed, assigned to michaelcullum

[2012-01-03 18:24] dragenx commented on #27
Getting it on the last page Action This is what I see now on the page

phpBB Blog - Fail

Database type :: mysql4

Warning
One or more errors occured during the requested action. Please download this file with the errors listed in it and ask the mod author for assistance.

If you have any problem downloading that file you may access it directly with an FTP browser at the following location: umil/e

[2012-01-03 18:25] michaelcullum commented on #17
#17

[2012-01-03 18:29] michaelcullum commented on #27
I'll review this after the hopeful release on friday.

[2012-01-03 18:31] dragenx commented on #27
went I looked at the blog on my site got this on the page

Warning: Call-time pass-by-reference has been deprecated in D:\hosting\7757950\html\includes\mods\functions_blog.php on line 158

[2012-01-03 18:34] michaelcullum commented on #27
Could you make a seperate bug report for that please? Thanks

[2012-01-03 18:35] dragenx commented on #27
another one for you got this on the blog overview in red box

The update server appears to be down. Try again in a few minutes. If the problem persists for more than a day, please check the development topic at phpBB.com for the latest version information. - Update to

[2012-01-03 18:50] dragenx opened #30 "Warning on blog"
went I looked at the blog on my site got this on the page

Warning: Call-time pass-by-reference has been deprecated in D:\hosting\7757950\html\includes\mods\functions_blog.php on line 158

Line 158

[code]

[2012-01-03 19:00] michaelcullum commented on #27
I am aware of that. Its on a different server now but the update will only become available in the new release.

[2012-01-03 19:18] #17 closed, assigned to nobody

[2012-01-03 19:19] michaelcullum commented on #18
Done

[2012-01-03 19:19] #18 closed, assigned to nobody

[2012-01-03 19:19] michaelcullum commented on #28
Done

[2012-01-03 19:19] #28 closed, assigned to michaelcullum

[2012-01-03 19:20] michaelcullum commented on #29
Done

[2012-01-03 19:20] #29 closed, assigned to michaelcullum

[2012-01-03 22:18] michaelcullum commented on #27
I'm going to close this as fixed. If it still doesn't work in 1.0.0 which will be released shortly then feel free to re-open it.

[2012-01-03 22:18] #27 closed, assigned to michaelcullum

[2012-01-04 00:53] vinny opened #32 "Support for custom BBCodes"
The MOD does not support custom BBCode.

[2012-01-04 01:04] vinny commented on #32
PR: https://github.com/phpBB-Blog/phpBB-Blog/pull/33

[2012-01-04 01:10] michaelcullum commented on #32
Sorry, only just saw the PR. I'll include this in 1.0.0 as I haven't finished releasing it yet. Thanks vinny. :)

[2012-01-04 01:18] vinny opened #34 "XHTML Strict invalid"
I'm testing the mod and there are lots XHTML errors. As you want submit in next days at MODDB, I'll propose a fix as fast as possible.

[2012-01-04 01:22] michaelcullum commented on #34
Ah thanks for pointing that out. I hadn't checked for XHTML or CSS Validation.

I'll hold the 1.0.0 release.

Thanks again. :)

[2012-01-04 01:42] michaelcullum commented on #32
Merged

[2012-01-04 01:43] michaelcullum commented on #30
Can you check if this happens in 1.0.0 when I post it tomorrow?

[2012-01-04 01:59] michaelcullum commented on #32
It doesn't parse them.

[2012-01-04 02:00] michaelcullum opened #35 "Debug Error"
[code]

[2012-01-04 02:01] michaelcullum commented on #35
Caused by the soloution to #31

[2012-01-04 02:04] michaelcullum commented on #34
By a lot I thought you meant 10 or so. 230 errors for just post article, blog home and view blog entry. Looks like no release for at least a couple of days.

I seriously owe you a favour for this.

@imkingdavid _sighs_

[2012-01-04 13:09] erikfrerejean opened #36 "Corrupted "è" in blog_info.txt"
Character in last name is corrupted
- Erik Fr�rejean [Contributions]

[2012-01-04 13:13] erikfrerejean opened #38 "SVN file structure"
The directory tree still includes some directories from when it was hosted in a svn repository. _(`/trunk/1.0.0/`)_ can be changed to get rid of some useless nesting.

[2012-01-04 14:10] imkingdavid commented on #30
This is the same way submit_post() is used in the rest of phpBB, iirc. So I have no clue what the problem is.

EDIT: (Didn't mean to close this, just reopened it)

[2012-01-04 14:14] #35 closed, assigned to nobody

[2012-01-04 14:14] #36 closed, assigned to nobody

[2012-01-04 15:10] imkingdavid commented on #34
Hey, this is old code, when I sucked at writing HTML. ;)

[2012-01-04 16:03] michaelcullum commented on #38
Thanks. Could you make a PR afterwards?

[2012-01-04 16:10] erikfrerejean commented on #38
#39 is the pull request ;)

[2012-01-04 16:25] michaelcullum commented on #32
I'll give this a quick test.

[2012-01-04 16:26] erikfrerejean commented on #30
Is the phpBB installation the latest?

[2012-01-04 16:30] michaelcullum commented on #30
I haven't had this error on 3.0.7, 3.0.7-PL1, 3.0.8, 3.0.9 and 3.0.10.

[2012-01-04 16:31] michaelcullum commented on #38
Oh right. Its going to have quite a few conflicts with all the changes being made at the moment...

[2012-01-04 16:31] erikfrerejean commented on #30
No because _IIRC_ in 3.0.6 some changes where made to suppress/handle correctly these kind of errors.

[2012-01-04 16:34] erikfrerejean commented on #38
Which is why I suggested for after 1.0.0 ;). But conflicts shouldn't be a big issue, only if one adds files to the current structure you need to account for the new locations for those files.

[2012-01-04 16:37] michaelcullum commented on #16
[code]

When editing it. And trigger_error() explains Comment ID can't be found.

[2012-01-04 16:39] michaelcullum commented on #32
Works. Thanks again marcus.

[2012-01-04 16:39] #32 closed, assigned to nobody

[2012-01-04 16:49] #16 closed, assigned to nobody

[2012-01-04 17:04] michaelcullum commented on #34
I'll post the release once this is done.

[2012-01-05 00:34] vinny commented on #34
Part1: https://github.com/mvinny/phpBB-Blog/commit/816b8dd5e659e7a3ed555f0da81a834504b1ba25
Part2: https://github.com/mvinny/phpBB-Blog/commit/006fd34f465cd8aad5c356fcec93a708863ed628

Status:
blog home = ok + 1 error
view article = ok + 1 error
Edit Comment = OK
Edit article = 4~5 errors + 1 error
View Cat = ok + 1 error
View Tag = ok + 1 error

This 1 error on blog home, view article, Edit artic

[2012-01-05 00:37] michaelcullum commented on #34
Go ahead. What are the 4~5  errors on edit article?

And did you see my comment about me merging part one and two now using the fork queue?

Thank you.

[2012-01-05 00:49] vinny commented on #34
The errors are because some inputs use the same ID.

I think is better to merge when it's all fixed.

So, what do you think about the new CSS file. Will need to enter via overall_header.htmt in install.xml

[2012-01-05 00:53] michaelcullum commented on #34
hm... Looks like we haven't got much choice to be honest as it needs to be XHTML valid to get validated. Unless we put the blog on a completely different header template from the rest of the site?

[2012-01-05 00:53] vinny opened #43 "Blank page when don't delete comment/article"
In the confirmation message, clicking <b>NO</b> is redirected to a blank page.

[2012-01-05 00:54] michaelcullum commented on #34
Although we do already have 1 edit in overall_header.html already for the link to the blog.

[2012-01-05 00:55] michaelcullum commented on #43
It should either get a failure message or go back.

[2012-01-05 00:57] michaelcullum commented on #34
Just to check, are they warnings or errors?

[2012-01-05 00:59] michaelcullum commented on #43
Doing a fix now

[2012-01-05 01:02] michaelcullum commented on #43
Fixed (hopefully). Untested.

[2012-01-05 01:02] #43 closed, assigned to nobody

[2012-01-05 01:04] michaelcullum opened #44 "Add back link"
On the new trigger errors it needs to add a link to go back to the comment and an automatic redirect. Not urgent. Kind of a bug, kind of a feature.
#43

I fixed it but not properly, this will properly fix it.

[2012-01-05 01:05] vinny commented on #34
Both.

The "+ 1 error" in all pages is:

[code]

It is the CSS that needs to be moved to <\* head> ....  </*head>

"Edit article = 4~5 errors"
Are in fact 3 Errors and 5 warnings.

[code]

[2012-01-05 01:09] michaelcullum commented on #34
Your opinion, new header file for blog or overall_header.html edit and make it a 2 edit MOD?

[2012-01-05 01:17] vinny commented on #34
To be honest, I think better to create a new CSS file to move the code and edit the overall_header.html to add something like:

<_! IF BLOG_ENABLE --_>
<\* link href="{T_THEME_PATH}/blog.css" rel="stylesheet" type="text/css" media="screen" _/>.
<_!-- ENDIF --*>

[2012-01-05 01:20] michaelcullum commented on #34
hm... Ok then, do you want to include that in part 3 then?

[2012-01-05 01:31] vinny opened #45 "Required fields"
Articles are accepted with all fields blank.

[2012-01-05 01:34] michaelcullum commented on #45
hm... I don't think this is much of a bug, just a lack of a feature. I'll put it in for the next version after 1.0.0 (so if validation fails it will be in the next submitted version).

[2012-01-05 01:34] vinny commented on #34
What do you think? What is your opinion?

I have corrected the other errors, missing only the CSS.

[2012-01-05 01:37] michaelcullum commented on #34
I'm not sure. I would like to keep it as few edits as possible but we already edit overall_header.html so its not like opening a second file. Its not a big edit and I suppose this keeps better compatibility with custom styles.

[2012-01-05 01:42] vinny commented on #34
So, I do the following: I will send the last part and submit the PR, already fixed all errors only missing CSS.

You decided the best solution to the CSS. :D

[2012-01-05 01:44] vinny commented on #45
The same happens with comments

[2012-01-05 01:45] michaelcullum commented on #34
Thanks. I'll merge the PR then go to bed as its 1:44 and I only stayed up to get this baby finished and released for MODs in Dev Forum tonight.

[2012-01-05 01:46] michaelcullum commented on #45
Ok. Just needs a validation for a minimum of 1 character.

[2012-01-05 01:46] vinny commented on #34
Part3: https://github.com/mvinny/phpBB-Blog/commit/424b998fadf9113d211bd86526783e4b66192080

PR: https://github.com/phpBB-Blog/phpBB-Blog/pull/46

[2012-01-05 01:49] michaelcullum commented on #34
Do you want to do the CSS etc. or shall I?

[2012-01-05 01:54] vinny commented on #34
I'm also go to bed. If you dont do, I do later, but tell me how you prefer.

And if you need more help with HTML-CSS let me know.

[2012-01-05 18:56] michaelcullum commented on #34
If you could it would be greatly appreciated as you know what code needs moving.

[2012-01-06 00:23] vinny commented on #34
Okay. How do you prefer to call the CSS file? <code>blog.css</code> or <code>phpbb_blog.css</code> or another name?

Prefer any line in <code>overall_header.html</code>?

And what is the variable that checks if the blog is active?

[2012-01-06 00:30] michaelcullum commented on #34
You've seen more custom styles than I have Marcus. A line with a find less likely to be changed in a custom style. ;)

blog.css please

Erm, good question. BLOG_ENABLED_C now. But I only just committed it so you'll need to merge from the repo.

[2012-01-06 00:42] michaelcullum opened #47 "Code Cleanup"
David just pointed out some serious issues in the code including 5 queries per blog post on the main blog page (4 blog posts is 20 queries plus all the other queries). He also seems to be putting in variables and making functions static.

As such I doubt it will be ready for validation tomorrow but I'll still try. It should be Saturday at the latest (hopefully).

[2012-01-06 00:43] michaelcullum commented on #47
@imkingdavid I just commited some changes to the template variables, adding a variable above the template vars and changed the <code>$config['BLOG_ON'] == 0 to $blog_on_c == 0</code>

[2012-01-06 04:41] vinny commented on #34
Check this: https://github.com/mvinny/phpBB-Blog/commit/83d506d3357dd818c49e5a0dcf5e38c866977672

[2012-01-06 08:06] michaelcullum commented on #34
Looks good. Submit a PR and I'll merge it.

[2012-01-06 08:08] michaelcullum commented on #47
Those commits got reverted but even so. You might want to merge this into your local copy. ;)

[2012-01-06 15:39] michaelcullum commented on #34
Merged

[2012-01-06 15:39] #34 closed, assigned to nobody

[2012-01-06 21:44] michaelcullum commented on #47
Done by the looks of it. Lets get this packaged up.

[2012-01-07 09:58] michaelcullum opened #52 "Blog Parse Error"
<code>Parse error: syntax error, unexpected T_VARIABLE in C:\xampp\htdocs\devqi\boards\blog_gold\blog.php on line 107</code>

Caused by david's code cleanup.

[2012-01-07 10:02] michaelcullum commented on #47
Ah he hadn't finished (I thought you had as it was merged).

[2012-01-07 15:14] imkingdavid commented on #47
Yeah, sorry, I was just merging what I had.

[2012-01-07 18:55] michaelcullum commented on #52
#47

[2012-01-07 21:56] imkingdavid commented on #52
Missing semicolon on line 106.

[2012-01-07 21:57] #52 closed, assigned to nobody

[2012-01-07 22:21] michaelcullum commented on #52
I found it but I was going out and didn't have time to commit. Thanks.

[2012-01-07 22:43] imkingdavid commented on #52
I did some more, but still haven't completely finished. I didn't merge it with the main repo so you didn't think I was done.

I am going to a movie with my brother, so I probably won't get to finish until tomorrow night or monday night at the earliest. But please do test and make sure I'm not missing stuff, if you don't mind.

[2012-01-07 22:46] michaelcullum commented on #52
Ok then. I'll post an update in the main topic.

[2012-01-07 22:52] michaelcullum opened #53 "Another Parse error on blog index."
<code>Parse error: syntax error, unexpected T_DOUBLE_ARROW in C:\xampp\htdocs\devqi\boards\blog_gold\blog.php on line 125</code>

[2012-01-07 22:53] michaelcullum commented on #47
Merged the last commit in.

[2012-01-09 20:12] vinny commented on #53
https://github.com/phpBB-Blog/phpBB-Blog/commit/ff4db4d527b6bfe49740de22620ba5e56bb30e9a
The commit was not complete. Still have errors, the blog index dont display the articles and has the following error when viewing a category:
<code>[phpBB Debug] PHP Notice: in file [ROOT]/blog.php on line 185: Undefined variable: sql
[phpBB Debug] PHP Warning: in file [ROOT]/includes/db/dbal.php on line 543:

[2012-01-09 21:54] michaelcullum commented on #53
I'm not sure what's caused this.

[2012-01-09 21:55] michaelcullum commented on #53
Oh and #47

[2012-01-09 23:19] erikfrerejean opened #55 "Syntax error blog.php"

[2012-01-09 23:21] michaelcullum commented on #55
Could you post the error here?

[2012-01-09 23:22] #55 closed, assigned to nobody

[2012-01-09 23:23] vinny commented on #55
https://github.com/phpBB-Blog/phpBB-Blog/pull/56

[2012-01-09 23:24] erikfrerejean commented on #55
@unknownbliss a missing bracket. Don't know the error, my IDE flagged it

[2012-01-09 23:29] michaelcullum commented on #53
Ignore the above, I posted it in the wrong Issue. _embarassed_

[2012-01-10 00:11] #30 closed, assigned to nobody

[2012-01-10 01:34] dragenx opened #59 "New Data error"
Just try instakking the mod on new install and got this error

Inserting data in the phpbb_2blog_categories database table.
ERROR: Database table phpbb_2blog_categories does not exist.

phpBB Blog
PHP Version: 5.2.17
DBMS: MySQL 5.0.91-log
phpBB3 Version: 3.0.10

Inserting data in the phpbb_2blog_categories database table.
ERROR: Database table phpbb_2blog_categories does not exist.

[2012-01-10 01:38] dragenx commented on #59
General Error
SQL ERROR [ mysql4 ]

Table 'viperbase.BLOG_CATS_TABLE' doesn't exist [1146]

SQL

SELECT COUNT(cat_id) AS num_cats FROM BLOG_CATS_TABLE

BACKTRACE

FILE: [ROOT]/includes/db/mysql.php
LINE: 175
CALL: dbal->sql_error()

FILE: [ROOT]/includes/acp/acp_blog.php
LINE: 284
CALL: dbal_mysql->sql_query()

FILE: [ROOT]/includes/functions_module.php
LINE: 507
CALL: acp_blog->main()

FILE: [ROO

[2012-01-10 04:16] erikfrerejean commented on #59
Can you please check your table prefix in `config.php` and post that back?

[2012-01-10 05:43] erikfrerejean commented on #53
This one will be resolved with #58

[2012-01-10 12:05] erikfrerejean opened #60 "Correct queries"
The queries are slow and a bit of a mess. They should be rewritten to properly join the various tables and there should be looked at whether every query is actually needed and/or can be optimised.

[2012-01-10 16:12] michaelcullum commented on #60
@imkingdavid  are you doing this as part of your cleanup?

[2012-01-10 17:15] dragenx commented on #59
Loked at the config.php and this is the table prefix

$table_prefix = 'phpbb_2';

[2012-01-10 17:34] erikfrerejean commented on #59
Okay, thanks. I'll commit a definite fix for this later today. It's caused by mixing up hardcoded table names in the installer with dynamic table names in the blog itself.

[2012-01-10 22:09] imkingdavid commented on #59
IIRC, umil references to phpbb_ should be automatically changed if the prefix is different. But I guess updating the installer to use constants can't hurt.

[2012-01-10 22:23] imkingdavid commented on #60
I have cleaned up queries on my own fork, but do not wish to merge it if erik is doing the same on his.

We really should split up these tasks so we don't have so many duplicate or similar fixes.

[2012-01-10 22:27] michaelcullum commented on #60
I've spoken to both of you and afaik your both doing different fixes. As a rule of thumb, if you spot something check the other persons branch. Also, try and merge stuff in as soon as you can.

[2012-01-10 22:30] michaelcullum commented on #60
IRC?

[2012-01-10 22:47] erikfrerejean commented on #60
@imkingdavid, please merge the fixed up queries. So far I've only touched a couple of typo's in them _(missing comma in one and applied a heck that shouldn't be needed anymore)_

[2012-01-10 22:51] imkingdavid commented on #60
It'll be later before I can do that because I still have a tad more to do but even before that I have to walk my neighbor's dogs and it's supper time.

[2012-01-10 22:52] erikfrerejean commented on #59
I don't know that, and rather not rely on that to begin with.

[2012-01-10 23:11] imkingdavid commented on #59
From: http://wiki.phpbb.com/Umil.table_add

"You may just use phpbb_ for the table prefix if you would like. UMIL correctly sets the table prefix to the board's default if you enter in phpbb_"

But whatever works. :)

[2012-01-10 23:26] dragenx commented on #59
My database is corrupt so I'm doing a clean install of the phpbb forum with new basebase hope it works this time I will post back on what happens

[2012-01-11 00:20] dragenx commented on #59
Did a clen install but went I click on the blog now getting this error

Parse error: syntax error, unexpected T_VARIABLE in D:\hosting\7757950\html\blog.php on line 107

Line: 107       $result = $db->sql_query_limit($sql, $sql_limit, $sql_start);

[2012-01-11 01:38] imkingdavid commented on #60
Okay, so with my latest merge, I don't see any more looped queries but I might have missed something. I still haven't gotten around to doing any testing, but I'll wait until erik merges his fixes to do so.

[2012-01-29 13:17] michaelcullum opened #62 "Wordpress Importer"
An importer which will import blog posts from wordpress. The file will give you a list of the blog poster's names and ask you to enter their user ids on the phpBB Install or leave blank for anonymous.

[2012-01-29 13:19] michaelcullum opened #63 "Advanced Moderation Actions"
Adding moving (comments), locking, editing lock changing poster etc. for comments and blog articles.

More details to come in the future.

[2012-01-29 13:24] #59 closed, assigned to erikfrerejean

[2012-01-29 14:00] michaelcullum opened #64 "UMIL Error"
Inserting data in the phpbb_blog_comments database table.
SQL ERROR Unknown column 'cat_id' in 'field list'

[2012-01-29 14:01] michaelcullum opened #65 "Debug Error"
[phpBB Debug] PHP Notice: in file [ROOT]/includes/mods/constants_blog.php on line 12: Undefined variable: table_prefix
[phpBB Debug] PHP Notice: in file [ROOT]/includes/mods/constants_blog.php on line 13: Undefined variable: table_prefix
[phpBB Debug] PHP Notice: in file [ROOT]/includes/mods/constants_blog.php on line 14: Undefined variable: table_prefix

In header on index.

[2012-01-29 14:01] michaelcullum opened #66 "Debug Error in blog.php"
[phpBB Debug] PHP Notice: in file [ROOT]/includes/mods/constants_blog.php on line 12: Undefined variable: table_prefix
[phpBB Debug] PHP Notice: in file [ROOT]/includes/mods/constants_blog.php on line 12: Constant BLOGS_TABLE already defined
[phpBB Debug] PHP Notice: in file [ROOT]/includes/mods/constants_blog.php on line 13: Undefined variable: table_prefix
[phpBB Debug] PHP Notice: in file [ROOT

[2012-01-29 14:04] michaelcullum opened #67 "General Error in Manage Cats"
Return to the index page
General Error
SQL ERROR [ mysql4 ]

Table 'qidev_blog101.blog_categories' doesn't exist [1146]

SQL

SELECT COUNT(cat_id) AS num_cats FROM blog_categories

BACKTRACE

FILE: [ROOT]/includes/db/mysql.php
LINE: 175
CALL: dbal->sql_error()

FILE: [ROOT]/includes/acp/acp_blog.php
LINE: 281
CALL: dbal_mysql->sql_query()

FILE: [ROOT]/includes/functions_module.php
LINE: 507
CALL:

[2012-01-29 14:12] michaelcullum opened #68 "Won't show blog posts"
It shows invalid blog ID but yet they create sucessfully and they don't show on the index.

[2012-01-31 12:04] erikfrerejean commented on #68
Same goes for the tags overview `blog.php?action=tag&t=sometag`, the way the tag information is stored makes it pretty hard to query on the tag.

[2012-01-31 15:41] michaelcullum commented on #68
I think this is fixed with #69? (I haven't tested)

[2012-01-31 17:03] erikfrerejean commented on #68
No #69 only resolves a php notice. The blog queries them self are a bit of a mess, in the tag example the whole "tag" isn't used to filter in the first place.
That said, I haven't had time yet to dive into that but I'm afraid that it won't be a trivial change to get those instances fixed.

[2012-01-31 18:58] erikfrerejean commented on #66
This one is fixed with #69, must have missed this report

[2012-01-31 18:58] #66 closed, assigned to erikfrerejean

[2012-01-31 19:01] erikfrerejean commented on #65
Related to #66 and should be fixed with #69 as well.

[2012-01-31 19:01] #65 closed, assigned to erikfrerejean

[2012-02-05 22:44] michaelcullum commented on #68
Seems solved anyway.

[2012-02-05 22:44] michaelcullum commented on #67
Seems solved

[2012-02-05 22:44] michaelcullum commented on #64
Seems solved

[2012-02-05 22:45] michaelcullum commented on #53
solved

[2012-02-05 22:45] #53 closed, assigned to erikfrerejean

[2012-02-05 22:46] michaelcullum opened #70 "Editing Comments doesn't work"
Comes up with invalid comment id.

[2012-02-05 22:47] michaelcullum opened #71 "Debug Error"
<code>[phpBB Debug] PHP Notice: in file [ROOT]/includes/mods/functions_blog.php on line 540: Undefined variable: user
[phpBB Debug] PHP Notice: in file [ROOT]/includes/mods/functions_blog.php on line 540: Trying to get property of non-object</code>

Comes up everywhere

[2012-02-05 23:09] michaelcullum commented on #70
<code>[phpBB Debug] PHP Warning: in file [ROOT]/includes/db/dbal.php on line 543: Missing argument 2 for dbal::sql_build_query(), called in [ROOT]/includes/mods/functions_blog.php on line 302 and defined</code>

[2012-02-05 23:12] michaelcullum commented on #70
Fixed by replacing:
<code>      $sql = $db->sql_build_query($sql_ary);</code>
with
<code>      $sql = $db->sql_build_query('SELECT', $sql_ary);</code>

[2012-02-05 23:13] michaelcullum commented on #70
but then I get:
<code>General Error
SQL ERROR [ mysql4 ]

Unknown column 'c.cat_id' in 'where clause' [1054]

SQL

SELECT c._,b._,ct._,u._ FROM (phpbb_blog_comments c CROSS JOIN phpbb_blog b CROSS JOIN phpbb_blog_categories ct CROSS JOIN phpbb_users u) WHERE c.cmnt_id = 2 AND b.blog_id = c.cmnt_blog_id AND c.cat_id = b.blog_cat_id AND u.user_id = b.blog_poster_id

BACKTRACE

FILE: [ROOT]/includes/

[2012-02-05 23:44] michaelcullum commented on #70
Something weird is going on, I made a zip from my repo, then installed it. But my board and repo are different. Scrap this

[2012-02-05 23:44] #70 closed, assigned to nobody

[2012-02-05 23:46] michaelcullum commented on #64
Something weird is going on, I made a zip from my repo, then installed it. But my board and repo are different. Scrap my last comment

[2012-02-05 23:46] michaelcullum commented on #67
Something weird is going on, I made a zip from my repo, then installed it. But my board and repo are different. Scrap my last

[2012-02-05 23:47] michaelcullum commented on #68
Something weird is going on, I made a zip from my repo, then installed it. But my board and repo are different. Scrap my last.

[2012-02-05 23:50] #71 closed, assigned to nobody

[2012-02-06 00:03] #64 closed, assigned to nobody

[2012-02-06 00:42] michaelcullum commented on #68
Fixed but:
SQL ERROR [ mysql4 ]

Unknown column 'ct.cmnt_poster_id' in 'where clause' [1054]

SQL

SELECT c.*, u.user_id, u.username, u.user_colour FROM (phpbb_blog_comments c CROSS JOIN phpbb_users u) WHERE c.cmnt_blog_id = 1 AND u.user_id = ct.cmnt_poster_id LIMIT 10

BACKTRACE

FILE: [ROOT]/includes/db/mysql.php
LINE: 175
CALL: dbal->sql_error()

FILE: [ROOT]/includes/db/mysql.php
LINE: 222
CAL

[2012-02-06 00:53] #67 closed, assigned to nobody

[2012-02-06 00:53] #68 closed, assigned to nobody

[2012-02-06 00:58] michaelcullum opened #72 "Blog index not showing the articles"
(12:50:30 AM) unknownbliss: its not displaying the blog article
(12:50:34 AM) unknownbliss: but it does say
(12:50:35 AM) unknownbliss: Posted by Guest in on Thu Jan 01, 1970 12:00 am
(12:50:35 AM) unknownbliss: Read the rest of this entry »
(12:50:45 AM) unknownbliss: and the link to read the rest etc.
(12:50:54 AM) imkingdavid: and if you click the link?
(12:50:55 AM) unknownbliss: doesn't have

[2012-02-07 03:00] imkingdavid commented on #72
Made _some_ progress on this just now (convering the CROSS JOINs into LEFT JOINs. However, it's still only showing 1 item when there are two.

Also, comments aren't being posted

[2012-02-07 19:11] michaelcullum opened #73 "Manage Cats Page"
https://gist.github.com/f5a7cc76d1571de841a1 explains the error and all related code (note the config.php db username and password have been changed)

[2012-02-08 00:27] michaelcullum opened #74 "Posting comments, editing/deleting blog articles doesn't work."
It just redirects to the index.

Caused by #73

[2012-02-08 00:28] #47 closed, assigned to imkingdavid

[2012-02-08 00:28] #60 closed, assigned to nobody

[2012-02-08 00:29] michaelcullum commented on #72
Fixed but the fix is causing #74 so I can't merge it in.

[2012-02-27 21:02] imkingdavid commented on #73
Caused by #69

/me slaps @erikfrerejean
Instead of removing the blog_constants.php include from the hook it should have been removed from blog.php.

The issue was
1) It couldn't find $table_prefix (fix: make it global)
2) It is already being included in blog.php (but not elsewhere) so it was redefining those things.

It's better to include whatever can be included in the hook rather than having mu

[2012-03-07 21:01] #73 closed, assigned to imkingdavid

[2012-03-07 21:01] michaelcullum commented on #72
Fixed.

[2012-03-07 21:01] #72 closed, assigned to imkingdavid

[2012-03-07 21:02] #6 closed, assigned to michaelcullum

[2012-03-07 21:02] #19 closed, assigned to michaelcullum

[2012-03-07 21:02] #20 closed, assigned to nobody

[2012-03-07 21:02] #21 closed, assigned to nobody

[2012-03-07 21:02] #22 closed, assigned to nobody

[2012-03-07 21:02] #23 closed, assigned to nobody

[2012-03-07 21:02] #24 closed, assigned to nobody

[2012-03-07 21:02] #25 closed, assigned to nobody

[2012-03-07 21:02] #26 closed, assigned to nobody

[2012-03-07 21:02] #44 closed, assigned to nobody

[2012-03-07 21:02] #45 closed, assigned to nobody

[2012-03-07 21:02] #62 closed, assigned to nobody

[2012-03-07 21:02] #63 closed, assigned to nobody

[2012-03-09 17:06] imkingdavid opened #75 "Check auth for approving comments"
Currently the only auth check is for displaying the link, afaik. We don't check auth in the switch case 'apprvcmnt' or in the blog::toggle_comment_approval() method.

IMO auth should only be done outside of functions, the functions should only do what they're supposed to do, rather than also checking auth and such. So it'll need to be added into the case.

[2012-03-10 01:01] #75 closed, assigned to imkingdavid

[2012-03-10 01:07] imkingdavid commented on #74
Fixed by PR #77 (not yet merged).

[2012-03-10 22:36] #74 closed, assigned to imkingdavid

[2012-03-10 22:40] imkingdavid opened #79 "When categories are disabled, cannot post new article."
Reported: http://www.phpbb.com/community/viewtopic.php?f=70&t=2104706&start=225#p13124298

I have not confirmed this bug, but I'm not surprised that it's there.

As a workaround, rather than a fix, you can simply only use one category to put all your posts into. _shrug_ Or we can do yet another bugfix release to make that work nicely.

[2012-03-11 09:17] michaelcullum commented on #79
Or we could remove the config option?

[2012-03-11 09:19] michaelcullum opened #80 "Issue with custom BBcodes"
Reported: http://www.phpbb.com/community/viewtopic.php?p=13124373#p13124373

Unconfirmed and unlikely. Most likely a MOD Clash.

As such I'll mark this as unreproducible and close it unless we can reproduce this.

[2012-03-11 09:26] #38 closed, assigned to erikfrerejean

[2012-03-11 16:54] imkingdavid commented on #80
This is a MOD Clash with advanced BBCode, as far as I can tell. I have not tried to reproduce this, but I'm sure if we tried to install the two MODs on the same board, it would pop up.

[2012-03-11 17:09] michaelcullum commented on #80
It would be because it makes edits to the bbcodes (which we use from phpBB) but we don't have the edits made to the blog that get made to the posting pages.

[2012-03-11 21:46] michaelcullum opened #81 "Graphics Update"
Seeing as it looks like we'll do another release with #79 and people are contributing patches to improve the UI layout I'll add these in.

[2012-03-13 16:14] imkingdavid commented on #81
Merged.

[2012-03-13 16:14] #81 closed, assigned to michaelcullum

[2012-03-13 16:15] imkingdavid opened #83 "When tags are added during posting, they display in cloud but not beneath post"
Title says it all.

Reported: http://www.phpbb.com/community/viewtopic.php?f=70&t=2104706&p=13125410#p13125331

[2012-03-13 16:16] imkingdavid opened #84 "Add a return link when deleting comments"
Title says it.

Reported: http://www.phpbb.com/community/viewtopic.php?f=70&t=2104706&p=13125410#p13125331

[2012-03-13 16:17] imkingdavid commented on #80
So are we going to fix this clash?

[2012-03-13 16:18] michaelcullum commented on #80
Only once the bugs are fixed first. :P Can you pop on IRC?

[2012-03-13 17:04] michaelcullum commented on #83
Do they come up when editing a blog post?

[2012-03-19 20:22] mastum opened #85 "Problem with IE 9"
Hi, as title ... there is a visual problem with IE 9
phpBB 3.0.10, theme prosilver and only phpBB Blog installed.

http://i39.tinypic.com/vhs189.jpg

Many thanks for this great mod !

[2012-03-24 21:45] FB92 opened #86 "Incorrect Date"
It's showing up at 1970 instead of 2012.

http://screensnapr.com/v/Cj3cAq.jpg

[2012-03-24 21:49] imkingdavid commented on #86
Thanks for your report.

[2012-04-12 23:54] vinny commented on #84
PR: https://github.com/phpBB-Blog/phpBB-Blog/pull/87

David or UB, could you please check the PR?

[2012-04-13 00:16] michaelcullum commented on #84
Fixed with #87

[2012-04-13 00:16] #84 closed, assigned to imkingdavid

[2012-04-13 01:27] vinny commented on #83
<blockquote>Do they come up when editing a blog post?</blockquote>

When editing is fine, just doesnt work when you view a post, only displays <strong>No tags</strong>.

[2012-04-13 01:31] vinny commented on #85
I believe that CSS isn't applied correctly. Please refresh the prosilver's template.

I'll check the error in IE9 because IE8 works perfectly.

[2012-04-13 13:37] vort7u commented on #85
Thanks!
I confirm, the problem is only with IE9

[2012-04-15 22:23] michaelcullum commented on #85
@MaFeSa Please refresh the prosilver's template.

[2012-04-16 13:09] vort7u commented on #85
Now is ok, sorry!

[2012-04-16 13:09] #85 closed, assigned to nobody

[2012-04-25 00:21] vinny opened #88 "View RSS with debug error"
When you access the RSS, appears the following errors:
<code>[phpBB Debug] PHP Notice: in file [ROOT]/includes/mods/functions_blog.php on line 472: Undefined variable: user
[phpBB Debug] PHP Notice: in file [ROOT]/includes/mods/functions_blog.php on line 472: Trying to get property of non-object</code>

[2012-04-25 00:28] vinny commented on #88
PR: https://github.com/phpBB-Blog/phpBB-Blog/pull/89

[2012-04-25 14:48] #88 closed, assigned to nobody

[2012-05-02 22:28] Magastart opened #90 "Graphic problem-{T_THEME_PATH}"
Hi and thank you for this mod.
I have graphics problem.
I use Prospace theme(prosilver theme base) and used menu.html for navbar.
This code is then added to overallheader.html
 .........link href="{T_THEME_PATH} /blog.css"..............

I changed the code and I have tried :
 "href="{T_SUPER_THEME_PATH}/blog.css"

improved the menu, but the broken category graphic

sorry for my bad english but pic

[2012-05-02 23:32] michaelcullum commented on #90
This is for bug reports, not support. Please get that from http://www.phpbb.com/community/viewtopic.php?f=70&t=2104706

[2012-05-02 23:32] #90 closed, assigned to nobody

[2012-05-02 23:37] Magastart commented on #90
Ok.I am sorry.

[2012-06-01 17:27] #83 closed, assigned to imkingdavid

[2012-06-01 17:28] #86 closed, assigned to nobody

[2012-06-01 18:04] #79 closed, assigned to imkingdavid

[2012-06-01 18:05] #80 closed, assigned to nobody

[2012-09-15 15:40] melvingb opened #95 "Forum Post Options"
The option of creating an entry and create until a new topic on the Forum does not work.
Already set the id of the forum where I want to see topics, but to create the new entry does not appear in the Forum that place.

[2012-09-17 15:54] #95 closed, assigned to nobody

[2012-11-16 18:58] vinny opened #96 "IMG and URL BBcode are missing"
IMG and URL BBcode are missing: https://www.phpbb.com/community/viewtopic.php?p=13200881#p13200881

[2017-09-15 17:48] #96 closed, assigned to nobody